<?xml version="1.0" encoding="UTF-8"?>
<!--
<copyright file="Bundle.wxs" company="SCVNGR, Inc. d/b/a LevelUp">
     Copyright(c) 2018 SCVNGR, Inc. d/b/a LevelUp. All rights reserved.
  
</copyright>
<license publisher="Apache Software Foundation" date="January 2004" version="2.0">
     Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
     in compliance with the License. You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software distributed under the License
     is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
     or implied. See the License for the specific language governing permissions and limitations under
     the License.
</license>
-->

<?define Manufacturer="LevelUp" ?>
<?define ProductName="LevelUp TLS Patcher v$(var.GitVersion_MajorMinorPatch)" ?>

<!--x86 Installer-->
<?define x86MsiTargetDir="$(var.LevelUp.Integrations.TlsPatcher.Installer.x86.TargetDir)"?>
<?define x86MsiTargetName="$(var.LevelUp.Integrations.TlsPatcher.Installer.x86.TargetName)"?>
<?define x86MsiTargetExt="$(var.LevelUp.Integrations.TlsPatcher.Installer.x86.TargetExt)"?>
<?define x86MsiFileSource="$(var.x86MsiTargetDir)$(var.x86MsiTargetName)-$(var.GitVersion_NuGetVersion)_x86$(var.x86MsiTargetExt)"?>

<!--x64 Installer-->
<?define x64MsiTargetDir="$(var.LevelUp.Integrations.TlsPatcher.Installer.x64.TargetDir)"?>
<?define x64MsiTargetName="$(var.LevelUp.Integrations.TlsPatcher.Installer.x64.TargetName)"?>
<?define x64MsiTargetExt="$(var.LevelUp.Integrations.TlsPatcher.Installer.x64.TargetExt)"?>
<?define x64MsiFileSource="$(var.x64MsiTargetDir)$(var.x64MsiTargetName)-$(var.GitVersion_NuGetVersion)_x64$(var.x64MsiTargetExt)"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <Bundle Name="$(var.ProductName)"
          Version="$(var.GitVersion_MajorMinorPatch)" Manufacturer="$(var.Manufacturer)"
          UpgradeCode="921843e8-09f5-4f60-b9d2-f298b7e85a84"
	        IconSourceFile="$(var.SolutionDir)Images\levelup-logo.ico"
	        SplashScreenSourceFile="$(var.SolutionDir)Images\levelup-logo.bmp">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">

      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.ProjectDir)Miscellaneous\License.rtf"
        LogoFile="$(var.SolutionDir)Images\levelup-logo-square.bmp"
        SuppressOptionsUI="yes"/>

    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx46Web_ShowInstaller"/>
      <MsiPackage SourceFile="$(var.x86MsiFileSource)"
                  Vital="yes" Compressed="yes" DisplayInternalUI="no"
                  InstallCondition="NOT(VersionNT64)"/>
      <MsiPackage SourceFile="$(var.x64MsiFileSource)"
                  Vital="yes" Compressed="yes" DisplayInternalUI="no"
                  InstallCondition="VersionNT64"/>
    </Chain>

  </Bundle>
</Wix>
